body {
    position: relative;
}
#cjs-setting-message, #cjs-save-message, #cjs-update-message, #cjs-del-message {
    background-color: #FFF;
    padding: 16px 30px;
    position: absolute;
    margin-left: -180px;
    margin-top: -32px;
    top: 50%;
    left: 50%;
    border: 2px solid #008001;
    color: #008001;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 3px 6px -2px #000;
}
.cjs_plugin_body {
    width: 98%;
    float: left;
}
.cjs_plugin_body h2 {
    font-size: 24px;
    padding: 0;
    margin-bottom: 22px;
}
.cjs_image_upload {
    border: 4px dashed #f0ac61;
    padding: 10px 0;
    margin: 15px 15px 35px 0;
    width: 100%;
    float: left;
}

.cjs_image_upload td {
    display: inline;
}

.cjs_image_upload input[type=text] {
    width: 70%;
}
.cjs_plugin_body input[type=button] {
    background: none repeat scroll 0 0 #f0ac61;
    border: 1px solid #e0a46e;
    box-shadow: 0 1px 0 rgba(224, 164, 110, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 0 rgba(224, 164, 110, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -web-box-shadow: 0 1px 0 rgba(224, 164, 110, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 1px 0 rgba(224, 164, 110, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -msie-box-shadow: 0 1px 0 rgba(224, 164, 110, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -web-border-radius: 5px;
    -o-border-radius: 5px;
    -msie-border-radius: 5px;
    font-family: Arial;
    font-size: 13px;
    cursor: pointer;
}
.cjs_plugin_body input[type=button]:hover {
    background: none repeat scroll 0 0 #e0a46e;
    border: 1px solid #e0a46e;
    box-shadow: 0 1px 0 rgba(224, 164, 110, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 0 rgba(224, 164, 110, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -web-box-shadow: 0 1px 0 rgba(224, 164, 110, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 1px 0 rgba(224, 164, 110, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -msie-box-shadow: 0 1px 0 rgba(224, 164, 110, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -web-border-radius: 5px;
    -o-border-radius: 5px;
    -msie-border-radius: 5px;
    font-family: Arial;
    font-size: 13px;
    cursor: pointer;
}
.cjs_label {
    font-size: 16px;
}
#cjs_success_msg {
    display: none;
    text-align: center;
    font-weight: bold;
    color: green;
    margin-bottom: 0;
    font-size: 20px;
}

#form-left {
    float: left;
    width: 825px;
}

#form-left tr {
    margin: 25px auto;
    display: block;
}

#form-left th {
    font-size: 16px;
    font-weight: bolder;
}

#form-left td {
    margin: 4px auto;
    display: block;
}

#donate-right {
    float: right;
    width: 370px;
    margin: 78px 20px 0 0;
}

.cjs-img-list {
    margin-right: 15px;
    margin: 15px 15px 0 0;
    border: 4px dashed;
    padding: 20px 0 20px 10px;
    width: 99%;
}
.cjs-img-list .image-sort {
    border-collapse: collapse;
}
.cjs-img-list .image-sort th {
    font-size: 16px;
    text-align: left;
    padding-bottom: 16px;
    color: #e0a46e;
}
.cjs-img-list .image-sort thead tr {
    border: 0;
}
.cjs-img-list .image-sort tr {
    border-bottom: 1px solid #CFCFCF;
    padding-bottom: 20px;
}
.cjs-img-list .image-sort tr:last-child {
    border: 0;
}
.cjs-img-list .image-sort textarea {
    resize: none;
    width: 94%;
}

