
.cjs-slider-controls {
    position: absolute;
    top: 50%;
    overflow: hidden;
    z-index: 90000;
    width: 100%;
}

.cjs-slider-controls #prev {
    background: url(../images/prev.png) no-repeat;
    display: block;
    height: 25px;
    width: 25px;
    float: left;
    margin-left: 4px;
}

.cjs-slider-controls #next {
    background: url(../images/next.png) no-repeat;
    display: block;
    height: 25px;
    width: 25px;
    float: right;
    margin-right: 4px;
}

.cjs-slider .cjs-cycle-pager {
    text-align: center;
    width: 100%;
    z-index: 500;
}

.cjs-slider .cjs-cycle-pager span {
    font-family: arial;
    font-size: 50px;
    width: 16px;
    height: 16px;
    display: inline-block;
    color: #ddd;
    cursor: pointer;
    line-height: 34px;
}

.cjs-slider .cjs-cycle-pager span.cycle-pager-active {
    color: #D69746;
}

.cjs-slider .cycle-slideshow h2 {
    position: absolute;
    top: 15%;
    left: 6%;
    padding: 20px;
    color: white;
    z-index: 9000;
    background-color: rgba(0,0,0,0.6);
}

@media (min-width: 360px) and (max-width: 767px) {
    .cjs-slider .cycle-slideshow h2 {
        padding: 10px;
        font-size: 20px;
    }
}

.cjs-slider .cycle-slideshow p {
    position: absolute !important;
    bottom: 1px !important;
    left: 0 !important;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    color: white;
    margin: 0;
    width: 98% !important;
}

.cycle-slide {
    width: 100%;
}

@media (min-width: 360px) and (max-width: 767px) {
    .cjs-slider {
        width: 100% !important;
        height: auto !important;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .cjs-slider {
        width: 100% !important;
        height: auto !important;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    .cjs-slider .cycle-slideshow .cjs-slider-img.cycle-slide img {
        max-width: 100% !important;
        height: auto !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cjs-slider .cycle-slideshow .cjs-slider-img.cycle-slide img {
        max-width: 100% !important;
        height: auto !important;
    }
}

a.cjs_banner_link {
    position: absolute;
    right: 4%;
    bottom: 20%;
    color: white;
    z-index: 9000;
    background: black;
    padding: 6px;
    border-radius: 4px;
}